.explaination-text {
    color: gray;
    font-size: 18px;
}

.acc-header {
    margin: 0;
    display: flex;
    align-items: center;
}

.kyc-status {
    display: flex;
    align-items: center;
}

.note-text {
    text-decoration: underline;
    font-weight: 600;
}